
%h1 
  this is home gdf
.jumbotron
  course which made your life easy
 

%hr
%h3 
  top course
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h3 
  heigest sale
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h3 
  big day sale
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
